<ion-view view-title="Page List" class="bg-positive">
    <ion-nav-title class="logo"><img src="img/logo.svg" height="30px" alt=""></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon sr-home" href="#/app/pageDetails"></a>
    </ion-nav-buttons>
    <ion-content pagedetails>
        <div class="music-cover-bg"> <img src="img/music-cover.jpg" alt="">
            <div class="music-info">
                <h2>Sura Boleros</h2>
                <button class="button button-calm button-round button-smal" ui-sref="app.pageDetailsMusic"><i class="sr-play"></i> Reproducir</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <a href="" ui-sref="app.photos" class="button button-clear button-light"> <i class="sr-image"></i> Fotos </a>
                
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                <a href="" ui-sref="app.redes" class="button button-clear button-light"> <i class="sr-share"></i> Social </a>
            </div>
        </div>
    </ion-content>
</ion-view>