<ion-view view-title="Albumes" class="bg-positive">
    <ion-nav-title class="logo"><img src="img/logo.svg" height="30px" alt=""></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon sr-home" href="#/app/pageDetails"></a>
    </ion-nav-buttons>    
      <ion-content scroll="false">
        <ion-slides on-slide-changed="slideHasChanged($index)">
          <ion-slide-page>
            <div class = "row">
              <div class = "col"><img src="img/img1.jpg"/></div>   
            </div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="row">
              <div class="col" style="text-align:center;"><img src="img/img2.jpg" style="max-height:90%; max-width:90%;"></div>  
            </div>            
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img3.jpg"/></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img4.jpg"/></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class="col" style="text-align:center;"><img src="img/img5.jpg" style="max-height:90%; max-width:90%;"></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img6.jpg"/></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img7.jpg"/></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class="col" style="text-align:center;"><img src="img/img8.jpg" style="max-height:90%; max-width:90%;"></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img9.jpg"/></div>   
              </div>
          </ion-slide-page>
          <ion-slide-page>
              <div class = "row">
                <div class = "col"><img src="img/img10.jpg"/></div>   
              </div>
          </ion-slide-page>
        </ion-slides>
</ion-content>
</ion-view>