<ion-view view-title="Volver" class="bg-positive">
    <ion-nav-title class="logo"><img src="img/logo.svg" height="30px" alt=""></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon sr-home" href="#/app/pageDetails"></a>
    </ion-nav-buttons>
    <ion-content pagelist>
        <h2 class="title" style="color:white;">Redes Sociales</h2>
        <ion-tabs class="tabs-positive tabs-icon-top">
            <ion-tab title="Twitter" icon-on="ion-social-twitter" icon-off="ion-social-twitter-outline">
            <div class="list">
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Cabas                
                        </div>            
                        <div class="col-67">
                            <a href='https://www.twitter.com/CabasMusica'>@CabasMusica</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Jos&eacute; Gaviria           
                        </div>            
                        <div class="col-67">
                            <a href='https://www.twitter.com/josegaviria'>@josegaviria</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Alberto Plaza            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.twitter.com/albertoplaza'>@albertoplaza</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Lucas Arnau            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.twitter.com/lucasarnau'>@lucasarnau</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Santiago Cruz            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.twitter.com/santicruz'>@santicruz</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Chabuco            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.twitter.com/chabuco'>@chabuco</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Carlos Ponce         
                    </div>            
                    <div class="col-67">
                        <a href='https://www.twitter.com/PonceCarlos1'>@PonceCarlos1</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Jorge Villamizar         
                        </div>            
                        <div class="col-67">
                            <a href='https://www.twitter.com/jorgevillamizar'>@jorgevillamizar</a>
                        </div>
                    </div> 
                </div>                                               
            </div>
            </ion-tab>

            <ion-tab title="Instagram" icon-on="ion-social-instagram" icon-off="ion-social-instagram-outline">
               <div class="list">
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Cabas                
                        </div>            
                        <div class="col-67">
                            <a href='https://www.instagram.com/CabasMusica'>@CabasMusica</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Jos&eacute; Gaviria           
                        </div>            
                        <div class="col-67">
                            <a href='https://www.instagram.com/josegaviria'>@josegaviria</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Alberto Plaza            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.instagram.com/albertoplaza'>@albertoplaza</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Lucas Arnau            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.instagram.com/lucasarnau'>@lucasarnau</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Santiago Cruz            
                    </div>            
                    <div class="col-67">
                        <a href='https://www.instagram.com/santicruz'>@santicruz</a>
                    </div>
                </div>
                </div>                
                <div class="item" style="background-color:aliceblue;">
                    <div class="row">
                    <div class="col-33" style="color:#13294C;">
                        Carlos Ponce         
                    </div>            
                    <div class="col-67">
                        <a href='https://www.instagram.com/PonceCarlos1'>@PonceCarlos1</a>
                    </div>
                </div>
                </div>
                <div class="item" style="background-color:cornflowerblue;">
                    <div class="row">
                        <div class="col-33" style="color:#13294C;">
                            Jorge Villamizar         
                        </div>            
                        <div class="col-67">
                            <a href='https://www.instagram.com/jorgevillamizar'>@jorgevillamizar</a>
                        </div>
                    </div> 
                </div>                                               
            </div>
            </ion-tab>
        </ion-tabs>        
    </ion-content>
</ion-view>
