<ion-view view-title="Page List" class="bg-positive">
    <ion-nav-title class="logo"><img src="img/logo.svg" height="30px" alt=""></ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-icon sr-home" href="#/app/pageDetails"></a>
    </ion-nav-buttons>
    <ion-content pagelist>
        <div class="list no-bg border-dark">
            <a class="item item-thumbnail-left item-icon-right item-center" ui-sref="app.pageDetails"> <img src="img/music-cover.jpg" alt="">
                <div class="content">
                    <h2>Boleros</h2>
                    <p>Varios Artistas</p>
                </div> <i class="icon sr-arrow-right"></i> </a>
            
        </div>
    </ion-content>
</ion-view>