@font-face {
  font-family: 'sura';
  src:  url('fonts/sura.eot?el60om');
  src:  url('fonts/sura.eot?el60om#iefix') format('embedded-opentype'),
    url('fonts/sura.ttf?el60om') format('truetype'),
    url('fonts/sura.woff?el60om') format('woff'),
    url('fonts/sura.svg?el60om#sura') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sr-"], [class*=" sr-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sura' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-arrow-bottom:before {
  content: "\e900";
}
.sr-backword:before {
  content: "\e901";
}
.sr-forward:before {
  content: "\e902";
}
.sr-image:before {
  content: "\e903";
}
.sr-more:before {
  content: "\e904";
}
.sr-notes:before {
  content: "\e905";
}
.sr-play1:before {
  content: "\e906";
}
.sr-repeat:before {
  content: "\e907";
}
.sr-share:before {
  content: "\e908";
}
.sr-suffule:before {
  content: "\e909";
}
.sr-arrow-right:before {
  content: "\e90a";
}
.sr-home:before {
  content: "\e90b";
}
.sr-menu:before {
  content: "\e90c";
}
.sr-play:before {
  content: "\e90d";
}

